<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.kangjisung.likeroom">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".User.MileageManage.Usermileage" />
        <activity android:name=".inventory.sales.salesVolume" />
        <activity android:name=".inventory.statistics.InvenView" />
        <activity android:name=".StoreAdd"/>
        <activity android:name=".User.UserManage.UserAdd"/>
        <activity android:name=".inventory.statistics.ChangeStat.InvenActivity" />
        <activity android:name=".inventory.statistics.ChangeStat.StatActivity" />
        <activity android:name=".User.UserManage.Usermanage"/>
        <!--팝업창-->
        <activity
            android:name=".User.MileageManage.mileage"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog" />
        <!--팝업창-->
        <activity
            android:name=".inventory.ProductAdd"
            android:theme="@android:style/Theme.DeviceDefault.Light.Dialog"></activity>
    </application>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

</manifest>